{% extends 'client/externes/baseClient.html' %}
{% load static %}
{% block title %}Student-Login{% endblock title %}
{% block content %}
<!-- =======================
Main Banner START -->
<section class="mb-9 position-relative" style="background-image:url({% static 'assets/images/bg/05.jpg' %} ); background-position: center left; background-size: cover;">
	<!-- Background dark overlay -->
	<div class="bg-overlay bg-blue opacity-9"></div>
	<div class="container z-index-9 position-relative">
		<div class="row g-4 justify-content-between align-items-center">
			<!-- Content -->
			<div class="col-lg-6">
				<h1 class="text-white">Become a professional in either field</h1>
				<p class="text-white mb-3">Man children rejoiced yet uncommonly his ten who. Yet uncommonly his ten who diminution astonished. Yet uncommonly his ten who diminution astonished.</p>
				<a href="{% url 'cours' %}" class="btn btn-white mb-0">Explore our courses<i class="bi bi-arrow-right ms-2"></i></a>
			</div>

			<!-- Form -->
			<div class="col-lg-6 col-xl-5 mb-n9">
				<div class="card card-body shadow p-4 p-sm-5">
					<!-- Title -->
					<h2 class="mb-0 h3">Welcome back</h2>
					<p class="mb-0">New here?<a href="{% url 'studentLogin' %}"> Back</a></p>
                        <!-- Form START -->
                        <form>
                            <!-- Email -->
                            <div class="mb-4">
                                <label for="exampleInputEmail1" class="form-label">Email address *</label>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
                                    <input type="email" class="form-control border-0 bg-light rounded-end ps-1" placeholder="E-mail" id="exampleInputEmail1">
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="align-items-center">
                                <div class="d-grid">
                                    <button class="btn btn-primary mb-0" type="button">Reset password</button>
                                </div>
                            </div>	
                        </form>
                        <!-- Form END -->
				</div>
			</div>

		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Main Banner END -->
{% endblock content %}
